.auth__main {
  align-items: center;
  background-color: $primary;
  display: flex;
  flex-direction: column;
  margin: 0px;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.auth__box-container {
  background-color: white;
  border-radius: 2px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 300px;
}

.auth__title {
  color: darken($color: $primary, $amount: 20%); // darken let modify the color primary by 20%
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
}

.auth__input {
  color: $dark-gray;
  border: none;
  border-bottom: 1px solid $light-gray;
  font-size: 16px;
  margin-bottom: 20px;
  padding: 10px;
  height: 20px;
  width: 90%;

  transition: border-bottom 0.3s ease;

  &:focus {
    border-bottom: 1px solid $primary;
    outline: none;
  }
}

.auth__social-networks {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 20px;
  padding-bottom: 20px;
  width: 100%;
}

.auth__alert-error {
  background-color: red;
  border-radius: 5px;
  color: white;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  padding: 5px;
}
