.journal__main-content {
  display: flex;
}

.journal__sidebar {
  background-color: $dark-gray;
  color: white;
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding-left: 10px;
  padding-right: 10px;
  width: 450px;
}

.journal__sidebar-navbar {
  display: flex;
  justify-content: space-between;
}

.journal__sidebar-navbar h3 {
  font-weight: lighter;
}

.journal__new-entry {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 30px;
  width: 100%;

  transition: color 0.3s ease;

  &:hover {
    color: darken($color: white, $amount: 20%);
  }
}

.journal__entries {
  flex: 1 1 auto;
  margin-top: 30px;
  padding: 5px;
  overflow-y: auto;

  &::-webkit-scrollbar {
    -webkit-appearance: none;
    background-color: #ccc;
    border-radius: 20px;
  }

  &::-webkit-scrollbar:vertical {
    width: 8px;
  }

  &::-webkit-scrollbar:horizontal {
    height: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #797979;
    border-radius: 20px;
  }
}

.journal__entry {
  background-color: white;
  border-radius: 4px;
  color: $dark-gray;
  cursor: pointer;
  display: flex;
  margin-bottom: 10px;
  overflow: hidden; /* This is to prevent the entry from overflowing the sidebar */
}

.journal__entry-picture {
  height: 70px;
  width: 70px;
}

.journal__entry-body {
  padding: 10px;
}

.journal__entry-title {
  font-size: 14px;
  font-weight: bold;
}

.journal__entry-content {
  font-size: 10px;
}

.journal__entry-date-box {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px;
}

.journal__entry-date-box span {
  font-size: 12px;
}
