.notes__main-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.notes__appbar {
  align-items: center;
  background-color: $primary;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

.notes__content {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 20px;
}

.notes__title-input,
.notes__textarea {
  border: none;
  &:focus {
    outline: none;
  }
}

.notes__title-input {
  color: $dark-gray;
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 10px;
}

.notes__textarea {
  border: none;
  color: $dark-gray;
  font-size: 20px;
  flex: 1 1 auto;
  resize: none;
  margin-bottom: 10px;

  &::-webkit-scrollbar {
    -webkit-appearance: none;
    background-color: #ccc;
    border-radius: 20px;
  }

  &::-webkit-scrollbar:vertical {
    width: 8px;
  }

  &::-webkit-scrollbar:horizontal {
    height: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #797979;
    border-radius: 20px;
  }
}

.notes__image img {
  box-shadow: 5px 5px 5px $dark-gray;
  height: 50vh;
  width: 50vw;
}
