.nothing__main-content {
  align-items: center;
  background-color: $primary;
  display: flex;
  color: white;
  flex-direction: column;
  justify-content: center;
  height: 100%;

  p {
    text-align: center;
  }
}
